pose-detection/face/*
pose-detection/hand/*
pose-detection/pose/*
pose-detection/*.jp
pose-detection/*.png
pose-detection/*.gif
pose-detection/

clothEnv/

MongoDB/

pose-detection/pose/coco/pose_iter_440000.caffemodel

.vscode/

Mod5_FashionRecommendations-master/

static/*
models/*
instance_gender/models/*
instance_upper/models/*
instance_lower/models/*
instance_whole/models/*

**__pycache__**