<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
    <a class="nav-item nav-link text-muted" href="home">Home</a>
    <a class="nav-item nav-link text-muted" href="team">Team</a>
    <a class="nav-item nav-link text-muted" href="project">Project</a>
  </nav>
  <style type="text/css">
    .jumbotron {
      background: #47C2E1 !important;
    }
    .footer { 
       position: fixed;     
       text-align: right;    
       bottom: 0px; 
       width: 100%;
    }  
  </style>
  <body>
    <div class="jumbotron">
      <h1 class="display-4">Show us your style!</h1>
      <p class="lead">Clothing recommdender system.</p>
      <hr class="my-4" />
      <p>
        Upload a photo. We will find in our store clothes made for you.
      </p>
      <a class="btn btn-light btn-sm" href="recs" role="button">Impress me</a>
    </div>
    <div class="footer">
        <p>
          Made with love by Romain, Sonny & Yubo &nbsp
        </p> &ensp;
      </div>
  </body>
</html>
