<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Recommendations</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
  </head>
  <nav class="navbar sticky-top navbar-expand-sm navbar-dark bg-dark">
    <a class="nav-item nav-link text-muted" href="/">Home</a>
  </nav>
  <style type="text/css">
    .jumbotron {
      background: #47C2E1 !important;
    }
    .footer { 
       position: fixed;     
       text-align: right;    
       bottom: 0px; 
       width: 100%;
    }  
  </style>
  <body>
   <!-- <img src="{{ clothing_whole }}" alt="Your image">
    <img src="{{ clothing_boxed }}" alt="Your pose">
    <img src="{{ clothing_upper }}" alt="Our first recommendation">
    <img src="{{ clothing_whole }}" alt="Our second recommendation">
    <img src="{{ clothing_lower }}" alt="Our thrid recommendation">-->
    <div class="footer">
        <p>
          Made with love by Sonny, Romain & Yubo &nbsp
        </p> &ensp;
      </div>
  </body>
</html>